.finish-container{
    margin:15% auto;
    width: 70%;
    max-width: 450px;
    text-align: center;    
}

.finish-submit{
    background-color:rgba(253, 191, 15, 0.85);
    color: #FFF;
    height: 60px!important;
    width: 90%;
    border-radius: 18px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;    
    font-size: 24px;
    
}

.finish-results{
    background-color: rgba(255,255,255,0.75);
    font-size: 16px;
    font-family: Arial,Verdana,'sans serif';
    margin-top: 30px;
    color: #000;
    
}

.finish-results > table{
    margin-left: 3px;
    margin-right: 3px; 
}

.finish-tspace{
    width: 10%;
}

.finish-ttitle{
    width: 20%;
    font-weight: bold;
    border-bottom: solid 1px #808080;
    text-align: right;
    padding-right: 20px;
}

.finish-ttitlenb{
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
}

.finish-tdatanb{
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
}

.finish-tdata{
    width: 20%;
    border-bottom: solid 1px #808080;
    text-align: right;
    padding-right: 20px;
}

.finish-results table tr{
    height: 40px;
}

.finish-results table{
    border-collapse: collapse;
}