.park-container{

    margin: 10px auto;
    width: 70%;
    max-width: 450px;
}

.park-image > img{
    height: 400px;
}

.park-info{
    margin-top: 50px;
    font-size: 18px;
    font-family: Arial,Verdana,'sans serif';
    margin-bottom: 10px;
    color:white;
    background-color: rgba(0,0,0,0.30);
    text-align: center;
}

.park-data{

}

.park-action{
    text-align: center;
    width: 100%;
}

.park-submit{
    background-color: rgba(3, 43, 82, 0.85);
    color: #fdbf0f;
    height: 40px!important;
    width: 100px;
    border-radius: 18px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;    
    font-size: 18px;
}

.park-error{
    color: red;
}

.park-field{
    background-color: white;
    padding: 5px;
    margin-bottom: 15px;
    height: 40px;
    
}

.park-field > input{
    width: 30%;
    height: 25px;
    font-size: 18px;
}

.park-field > select{
    width: 30%;
    height: 25px;
    font-size: 18px;
}

.park-data input{
    width: 48%;
    height: 25px;
    font-size: 18px;
    margin: 10px 0px 10px 0px;
}