.login-container{    
    color: #000;
    margin:15% auto;
    width: 25%;

}

.login-action{
    text-align: center;
    width: 100%;
}

.login-field{
    background-color: rgba(255, 255, 255, 0.85);
    padding: 5px;
    margin-bottom: 15px;
    min-height: 40px;
    line-height: 40px; 
    min-width: 200px;   
}

.login-field > input{
    width: 60%;
    height: 25px;
    font-size: 18px;
}

.login-field > select{
    width: 60%;
    height: 25px;
    font-size: 18px;
}

.login-submit{
    background-color:rgba(253, 191, 15, 0.85);
    height: 40px;
    width: 100px;
    border-radius: 18px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 18px;
}

.login-error{
    color: red;
}

.logon-fieldtitle{
    display: inline-block;
    width: 30%;
}