@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.schedule-container{
    margin:15% auto;
    width: 30%;
    color: #000;
    min-width: 250px;
    /*max-width: 400px;*/
}
.schedule-action{
    text-align: center;
    width: 100%;
}

.schedule-field{
    background-color: rgba(255, 255, 255, 0.85);
    padding: 5px;
    margin-bottom: 15px;
    height: 40px;
    line-height: 40px;
    min-width: 265px;
}

.schedule-field > input{
    width: 60%;
    height: 25px;
    font-size: 18px;
}

.schedule-field-date > input{
    width: 50%;
    height: 25px;
    font-size: 18px;
}

.schedule-field > select{
    width: 60%;
    height: 25px;
    font-size: 18px;
}

.schedule-submit{
    background-color:rgba(253, 191, 15, 0.85);
    height: 40px;
    width: 100px;
    border-radius: 18px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 18px;
}

.schedule-error{
    color: red;
}

.schedule-fieldtitle{
    display: inline-block;
    width: 30%;
}

.mat-icon-button{
    width: 10%!important;
}