/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(./assets/bg.jpg);
    padding:0px;
    margin:0px;
    direction: rtl;
    font-family: Arial,Verdana,'sans serif';
}


.cdk-overlay-pane{
    position: absolute;
    background-color:white;
}

